<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Alluring</title>
  </head>
  <body>
    <div class="wraper">
      <header>
        <div class="logo">Alluring</div>
      </header>
      <main>
        <section class="heroSection">
          <div class="headline">live happy live stylish.</div>
          <div class="heroimg"></div>
        </section>
        <section class="miller">
          <div class="miller-display">
            <img
              class="miller-bag-pic"
              src="https://images.unsplash.com/photo-1571689936114-b16146c9570a?ixlib=rb-1.2.1&auto=format&fit=crop&w=939&q=80"
              alt="miller bag"
            />
            <div class="miller-bag-details">
              <h3>Miller</h3>
              <p>Lots to carry no problem our biggest bag is here.</p>
              <button>Order Now</button>
            </div>
          </div>
        </section>
        <section class="vidpromo">
          <video class="actualvid" autoplay loop muted src="bagvid.mp4"></video>
          <div class="vidoverlay">
            <p class="overlay-text">Best in Class</p>
          </div>
        </section>
        <section class="miller">
          <div class="miller-display">
            <img
              class="miller-bag-pic"
              src="https://images.unsplash.com/photo-1547949003-9792a18a2601?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
              alt="miller bag"
            />
            <div class="miller-bag-details">
              <h3>Vinta</h3>
              <p>
                A bag that is classy,relaiable and sturdy for long term
                durability.
              </p>
              <button>Order Now</button>
            </div>
          </div>
        </section>
        <section class="miller">
          <div class="miller-display">
            <img
              class="miller-bag-pic"
              src="https://images.unsplash.com/photo-1559563458-527698bf5295?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
              alt="miller bag"
            />
            <div class="miller-bag-details">
              <h3>Zara</h3>
              <p>
                An absolute peice of beauty. Elegent in design to express your
                style.
              </p>
              <button>Order Now</button>
            </div>
          </div>
        </section>
        <footer>
          <div class="author">Developer : Mabroor ahmad</div>
          <div class="message">
            This is a short demonstration of my work, a mockup website for a
            madeup company. Purpose is to demonstrate my skills as webdeveloper.
            Website uses modern user interface components like
            images,cards,video elements,parralex effect on hero section. Website
            works on nodejs with ejs as its rendering engine.
          </div>
          <div class="unsplash">
            A huge thanks to
            <a target="blank" href="http://unsplash.com">unsplash.com</a> for
            the video and images used in this website.
          </div>
        </footer>
      </main>
    </div>
  </body>
</html>
