@import url(https://fonts.googleapis.com/css2?family=Lobster&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Courier+Prime:wght@100;200;300;400;500;600;700&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier Prime", monospace;
}

body {
  overflow-x: hidden;
}

header {
  height: 80px;
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Lobster", display;
  font-size: 1.6rem;
  margin-left: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
}

.heroSection {
  position: relative;
}

.headline {
  margin: 3rem 1.5rem 2rem 1.5rem;
  font-size: 1.7rem;
}

.heroimg {
  width: 100%;
  height: 300px;
  background-image: url("https://images.unsplash.com/photo-1532697057284-bbe526e18cdb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.millerHeadline {
  font-size: 1.7rem;
}

.miller-display {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.miller-bag-pic {
  max-width: 70%;
  margin-left: 1.5rem;
  object-fit: cover;
}

.miller-bag-details h3 {
  margin: 1rem 1.5rem;
  font-size: 2rem;
  font-weight: 500;
}

.miller-bag-details p {
  margin: 0 1.5rem;
}
.miller-bag-details button {
  margin: 1rem 0 1rem 1.5rem;
  background-color: black;
  color: white;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
.miller-bag-details button:hover {
  outline: 3px solid rgb(151, 115, 47);
}

.vidpromo {
  margin: 1rem 0;
  width: 100%;
  height: auto;
  position: relative;
}
.actualvid {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.vidoverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.472);

  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-text {
  color: white;
  font-size: 1.5rem;
}
